DB_CONNECTION=sqlite
DB_DATABASE="./storage/bdd.db"

FIRST_NAME=Easy
LAST_NAME=Upload

# Penser à définir votre serveur SMTP
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=465

# suivant les serveur SMTP (ex. Mailjet) il est conseillé d'autoriser le domaine sur mailjet et de définri une adresse d'envoie unique de type noreply@domaine
MAIL_FROM=noreply@domaine
MAIL_FROM_NAME="${FIRST_NAME}${LAST_NAME}"

PORT=8000
# WEB_URL nom du virtualhost
WEB_URL="http://localhost:${PORT}/"

ENVIRONMENT="DEV"

###
# Turnstile
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
##

# .env.development
TURNSTILE_SITEKEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

# .env.test
TURNSTILE_SITEKEY=2x00000000000000000000AB
TURNSTILE_SECRET_KEY=2x0000000000000000000000000000000AA

# .env.production
TURNSTILE_SITEKEY=your-real-sitekey
TURNSTILE_SECRET_KEY=your-real-secret-key
