:root {
    --placeholder-color: var(--bs-secondary);
}

* {
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #292929;
    height: 100vh;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

form {
    margin: 25px 50px;
}

.title {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    color: antiquewhite;
    position: relative;
}

.title h1 {
    font-size: 70px;
    font-weight: 500;
    position: relative;
    z-index: 10;
}

.backgroundText {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundText span {
    display: inline-block;
    font-size: 150px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(250, 235, 215, 0.3);
    opacity: 0;
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    transition: transform 1s, opacity 0.25s, -webkit-text-stroke-color 0.25s;
}

.backgroundText span.active {
    transform: translateY(0px);
    opacity: 1;
}

.backgroundText span:nth-child(1) {
    transition-delay: 0.25s;
}

.backgroundText span:nth-child(2) {
    transition-delay: 0.5s;
}

.backgroundText span:nth-child(3) {
    transition-delay: 0.75s;
}

.backgroundText span:nth-child(4) {
    transition-delay: 1s;
}

.backgroundText span:nth-child(5) {
    transition-delay: 1.25s;
}

.backgroundText span:nth-child(6) {
    transition-delay: 1.5s;
}

.backgroundText span:nth-child(7) {
    transition-delay: 1.75s;
}

.backgroundText span:nth-child(8) {
    transition-delay: 2s;
}

.backgroundText:hover span {
    -webkit-text-stroke-color: #80b3a5;
}

.custom-input {
    background-color: #292929;
    color: antiquewhite;
}

.custom-input:placeholder-shown {
    color: var(--placeholder-color);
}

.custom-input::placeholder {
    color: var(--placeholder-color);
}

.custom-input:-webkit-input-placeholder {
    color: var(--placeholder-color);
}

.custom-input::-ms-input-placeholder {
    color: var(--placeholder-color);
}

.form {
    padding: 75px 50px;
}

input.custom-input {
    background-color: #292929;
    color: antiquewhite;
}

input.custom-input:focus {
    background-color: #292929;
    color: antiquewhite;
}

input[type="file"].custom-input {
    background-color: #292929;
    color: antiquewhite;
}

button.btn.btn-primary {
    background-color: antiquewhite;
    color: #292929;
    border: none;
    text-decoration: none;
}

button.btn.btn-primary:hover {
    background-color: lightgray;
    text-decoration: none;
}

.custom-file {
    position: relative;
    overflow: hidden;
    background-color: #292929;
    color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid antiquewhite;
}

.custom-file-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

#mesModals {
    background-color: #292929;
    border: 1px white solid;
}

.modals {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
    background-color: #00000096;
}

.button-modal {
    background-color: antiquewhite !important;
    color: #292929 !important;
}

#spin {
    position: relative;
    top: 30px;
    height: 5rem;
    width: 5rem;
}

.email-wrap,
.email-add {
    display: flex;
    gap: .2em;
    max-width: fit-content;
    padding: .2em;
    border: solid 1px #20c997;
    border-radius: .2em;
    margin-bottom: .2em;
}

.email-wrap:hover {
    outline: solid 2px #20c997;
}

.email-del:hover {
    cursor: pointer;
    outline: solid 1px red;
}

.email-add {
    width: 2em;
    height: 2em;
    color: #20c997;
    background-color: antiquewhite;
    max-width: inherit;
    justify-content: center;
}

.email-add:hover {
    cursor: pointer;
    outline: solid 1px red;
}