/* SOMMAIRE 
 * GENERAL
 * MODALS
 *
 */
:root {
    --placeholder-color: var(--bs-secondary);
    --color-1: #292929;
    --color-2: antiquewhite;
}

* {
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}


/* *MODALS* */
#mesModals {
    background-color: #292929;
    border: 1px white solid;
}

.modals {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #00000096;
    top: 0;
    left: 0;
}

.button-modal {
    background-color: antiquewhite !important;
    color: #292929 !important;
}

/* *Loader* */
#spin .spinner-border {
    position: relative;
    top: 30px;
    height: 5rem;
    width: 5rem;
}

.background {
    background-color: #292929;
    display: grid;
    justify-content: center;
    align-content: center;
}

/* *Formulaire* */
.form {
    padding: 100px 100px;
}

/* *Email* */
.custom-input {
    background-color: #292929;
    color: antiquewhite;
}

.custom-input::placeholder,
.custom-input:-webkit-input-placeholder,
.custom-input::-ms-input-placeholder,
.custom-input:placeholder-shown {
    color: var(--placeholder-color);
}


input.custom-input,
input.custom-input:focus,
input[type="file"].custom-input {
    background-color: #292929;
    color: antiquewhite;
}

button.btn.btn-primary:hover {
    background-color: lightgray;
    text-decoration: none;
}

.custom-file {
    position: relative;
    overflow: hidden;
    background-color: #292929;
    color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid antiquewhite;
}

.custom-file-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

/* *Titre premier plan* */
.title {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    color: antiquewhite;
    position: relative;
}

.title h1 {
    font-size: 4.37em;
    font-weight: 500;
    position: relative;
    z-index: 10;
}

/* *Titre deuxieme plan* */
.backgroundText {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundText span {
    display: inline-block;
    font-size: 9.37em;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(250, 235, 215, 0.3);
    opacity: 0;
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    transition: transform 1s, opacity 0.25s, -webkit-text-stroke-color 0.25s;
}

.backgroundText span.active {
    transform: translateY(0px);
    opacity: 1;
}

.backgroundText span:nth-child(1) {
    transition-delay: 0.25s;
}

.backgroundText span:nth-child(2) {
    transition-delay: 0.5s;
}

.backgroundText span:nth-child(3) {
    transition-delay: 0.75s;
}

.backgroundText span:nth-child(4) {
    transition-delay: 1s;
}

.backgroundText span:nth-child(5) {
    transition-delay: 1.25s;
}

.backgroundText span:nth-child(6) {
    transition-delay: 1.5s;
}

.backgroundText:hover span {
    -webkit-text-stroke-color: #80b3a5;
}

.email-wrap,
.email-add {
    display: flex;
    gap: .2em;
    max-width: fit-content;
    padding: .2em;
    border: solid 1px #20c997;
    border-radius: .2em;
    margin-bottom: .2em;
}

.email-wrap:hover {
    outline: solid 2px #20c997;
}

.email-del:hover,
.email-add:hover {
    cursor: pointer;
    outline: solid 1px red;
}

.email-add {
    width: 2em;
    height: 2em;
    color: #20c997;
    background-color: antiquewhite;
    max-width: inherit;
    justify-content: center;
}

/* *Bouton Télécharger* */

.button-container {
    display: flex;
    justify-content: center;
}

button.btn.btn-primary {
    background-color: antiquewhite;
    color: #292929;
    border: none;
    text-decoration: none;
    margin-top: 20px;
}

p {
    margin-top: 50px;
    text-align: center;
}


/**
 * layout
 */
body {
    display: flex;
    justify-content: center;
    background-color: #292929;
    margin: 0;
    padding: 0;
}

body>div {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    width: calc(100% - 1em);
    max-width: 1440px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

header img {
    width: auto;
    height: 3em;
}

header div {
    display: flex;
    gap: 1em;
    align-items: center;
}

main {
    display: grid;
    align-content: space-between;
}

.btn-connexion div {
    display: block;
    color: var(--color-1);
}

.btn-connexion i {
    display: none;
    color: var(--color-1);
}

#send{
    background-color: antiquewhite;
    color: #292929;
}
@media (max-width: 675px) {
    .title h1 {
        font-size: 3.44em;
    }

    .backgroundText span {
        font-size: 7.37em;
    }

    .form {
        padding: 1em;
    }

    .btn-connexion div {
        display: none;
    }

    .btn-connexion i {
        display: block;
    }
}

@media (max-width: 520px) {
    header h1 {
        font-size: 1.5em;
    }

    .title h1 {
        font-size: 2.5em;
    }

    .backgroundText span {
        font-size: 5.37em;
    }

    form {
        margin: 0;
    }
}

@media (max-width: 375px) {
    .title h1 {
        font-size: 2em;
    }

    .backgroundText span {
        font-size: 4em;
    }
}

@media (max-height: 870px) {
    .form {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}